<!DOCTYPE html>
<html>
  <head>
    <title>Integer Partition Identity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="navbar">
      <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>

    <h1>Sabancı University ENS 491-492 Project</h1>
    <h2> Contact list for more information about the project: </h2>
    <p>
      Supervisor: Kağan Kurşungöz (kursungoz@sabanciuniv.edu)<br><br><br>
      Barış Akalın (barisakalin@sabanciuniv.edu)<br><br>
      Rana Kocagöz (ranakocagoz@sabanciuniv.edu)<br><br>
      Victor Taiwo (taiwovictor@sabanciuniv.edu)<br><br>
    </p>

  </body>
</html>